body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  /* width: 30px;
  height: 50px; */
  width: 40px;
  height: 60px;
  border-radius: 10px;
  border: 3px solid white;
  font-weight: bold;
  position: relative;
}



.mdl {
  top:1px;
  left:2px;
  width: 40px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size:x-large;
  /* border: 1px solid red; */
  position: absolute;
}

.gameBoard {
  display: grid;
  height: 100vh;
  grid-template-rows: 50% 50%;
}

.upper {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 0;
  background-color: brown;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0;
  background-color: black;
  color: white;
}

.experimantalPlayerBoard {
  text-align: center;

}

.playerCards {
  display: grid;
  margin-top: 5%;
  margin-left: 25%;
  width:350px;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 10px;
  border: 2px solid red;
}

.u_d {
  top: 0;
  left: 0;
  position: absolute;
  /* border: 1px solid green; */
  transform: rotate(180deg);
}

.yellow {
  background-color:yellow;
  color:black;
}

.red {
  background-color: red;
  color:white;
}

.blue {
  background-color: blue;
  color:white;
}

.green {
  background-color:green;
  color:white;
}

.playerBoard {
  display: grid;
  grid-template-columns: 250px 250px 250px;
}

.playerCardBoard {
  display: flex;
  flex-direction: row;
}



.textblack {
  color:black;
}

.textgreen {
  color:green;
}

.modal {
  position: absolute;
  width: 200px;
  height:  100px;
  background-color: hotpink;
}

.navBar {
  background-color:darkred;
}

.homePage {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: black;
  height: 100vh;
}

.logo {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.black {
  background-color: black;
}

.mid {
  top:0;
  left:0;
}

.oval {
  top:-5px;
  left:-9px;
  width: 52px;
  height: 30px;
  border: 3px solid white;
  /* background: red; */
  border-radius: 26px / 19px;
  transform: rotate(-55deg);
  position:relative;
}