body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 40px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid white;
  font-weight: bold;
  position: relative;
}


.gameOver, .finalScore, .gameOverButtons {
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.customButton {
  width:max-content;
  border:none;
  border-radius: 5px;
  background-color: grey;
  font-size: medium;
  /* font-weight: bold; */
  padding:9px;
  margin-right: 3px;
  background-color: #e5e5e5;
}

.customButton:hover {
  cursor: pointer;
}

.gameOver {
  height: 100vh;
}

.gameOverHome {
  width:113px;
  height: 42px;
  background-image: url('/src/img/homePlain.png');
}

.gameOverHome:hover {
  cursor: pointer;
  background-image: url('/src/img/home.png');
}

.gameOverPlay {
  width:194px;
  height: 42px;
  margin-top: 20px;
  background-image: url('/src/img/newGameEmpty.png');
}

.gameOverPlay:hover {
  cursor: pointer;
  background-image: url('/src/img/newGameFull.png');
} 

.playerTitleLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal {
  width: 230px;
  height:  50px;
  align-items: center;
}

.playerIsGoing {
  margin-left: 3px;
}

.goButtonsContainer {
  display: flex;
  flex-direction: row;
  width:330px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.playerBoard {
  margin-top: 25px;
  margin-left: 20%;
}

.playerCards {
  display: grid;
  margin-top: 2%;
  /* width:350px; */
  width:max-content;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 8px;
  margin-bottom: 10px;
}

.noActive, .mainCard {
  color:white;
  font-weight: bold;
}

.mainCard {
  margin-top: 20px;
}

.pile {
  
}

.mainCardPileBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.active {
  padding: 5px;
  width:max-content;
  border-radius: 10px;
  color:white;  
  font-weight: bold;
  background: darkorange;
  text-align: center;
}

.direction {
  width:auto;
  text-align: center;
  margin-bottom: 10px;
}

.scoreTitle {
  margin-top: 2px;
  margin-bottom: 2px;
  color:white;
  font-weight: bold;
}


.W {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue);
  color:black;
}

.yellow {
  background-color:#ffef32;
  color:black;
}

.red {
  background-color:#dd2121;
  color:white;
}

.blue {
  background-color: #2c29f2;
  color:white;
}

.green {
  background-color:green;
  color:white;
}

.white {
  background-color:white;
  color:black;
}

.cloudUno {
    width:max-content;
    border:none;
    border-radius: 5px;
    background-color: grey;
    font-size: medium;
    font-weight: bold;
    padding:9px;
    margin-right: 3px;
    background-color: white;
}

.colorCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  margin-bottom: 10px;
}

.textwhite {
  color: white;
}

.uno {
  margin-top: 20px;
}

.startButton {
  width: 130px;
  height: 41px;
  background-image:url('../src/img/startPlain.png');
  position: absolute;
  bottom: 52%;
  left: 45%;
}

.startButton:hover {
  background-image:url('../src/img/start.png');
  cursor: pointer;
}

.mainCardTitle {
  margin-bottom: 10px;
}

.messageBox {
  bottom:10px;
  width: 350px;
  height:3em;
  overflow-y:auto;
	float:left;
	position:fixed;
  background-color:darkred;
  padding:3px;
  border-radius: 5px;
}

.message {
  color:white;
  font-weight:bold;
}

.messageExpired {
  color:rgba(255, 255, 255, 0.879);
  font-weight:normal;
}

.navPlay {
  width:86px;
  height: 52px;
  background-image: url('../src/img/playPlain.png');
  margin-right: 40px;
}

.navAbout {
  width:116px;
  height: 42px;
  background-image: url('../src/img/aboutPlain.png');
}

.navPlay:hover {
  background-image: url('../src/img/play.png');
}

.navAbout:hover {
  background-image: url('../src/img/about.png');
}

.navBar {
  display: flex;
  flex-direction: row;
}

.center {
  margin-top: -25%;
  width:50%;
  border-radius: 10px;
  padding: 10px;
}

.homePage {
  display: grid;
  place-items: center;
  background-color: black;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  height: 100vh;
}

.logo {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.black {
  background-color: black;
}

.mid {
  top:0;
  left:0;
}

.oval {
  top:-2px;
  left:-9px;
  width: 53px;
  height: 26px;
  border: 2px solid white;
  border-radius: 26px / 16px;
  transform: rotate(-52deg);
  position:relative;
}

.angle {
  top:22px;
  left: 2px;
  transform: rotate(-40deg);
  position:absolute;
}

/* ---------------------------------- */
/* Fancy card design */


.u_d {
  margin-top: -4px;
  margin-right: 2px;
  top: 0;
  left: 0;
  position: sticky;
  transform: rotate(180deg);
  color:white;
}

.unoCard {
  padding-left:1px;
  font-size: smaller;
  color:white;
}

.newCard {
  width: 40px;
  height: 60px;
  border-radius: 7px;
  border: 2px solid white;
  font-weight: bold;
  position: relative;
  margin-right: 4px;
}

.mdl, .mdl2 {
  top:-3px;
  left:2px;
  width: 40px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size:x-large;
  position: absolute;
  color:black;
}

.mdl2 {
  top:-2px;
  left: 0px;
  color:white;
}

.mdl:hover, .mdl2:hover, .W:hover, .newCard:hover {
  cursor: pointer;
}

.yellow:hover, .red:hover, .green:hover, .blue:hover, .navPlay:hover, .navAbout:hover {
  cursor: pointer;
}

.back {
  display: flex;
  flex-direction: row;
  background-color: darkred;
}

.wildcard { 
  background-image: linear-gradient(to right, red,orange,yellow,green,blue);
}

.Board {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  background-color: black;
  color:white;
}

.Inner:nth-child(even) {
  /* visibility: hidden; */
  content-visibility: hidden;
  background-color: black;
}

.Inner:nth-child(2) {
  content-visibility: visible;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:brown;
  z-index: 1;
}

.Inner:nth-child(odd) {
  background-color: brown;
}

.Inner:nth-child(5) {
  margin-left: -25%;
  background-color: black;
  z-index: 0;
}
