body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 30px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 2px;
  font-weight: bold;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
  color:white;
}

.blue {
  background-color: blue;
  color:white;
}

.green {
  background-color:green;
  color:white;
}

.playerBoard {
  display: grid;
  grid-template-columns: 250px 250px 250px;
}

.playerCardBoard {
  display: flex;
  flex-direction: row;
}



.textblack {
  color:black;
}

.textgreen {
  color:green;
}